body {
  color: #ffaf70;
  background: #141414;
  font-family: "Open Sans";
  font-size: 1.2em;
}

h1 {
  font-family: "Rock Salt";
  font-size: 3vw;
}

header {
  height: 12vw;
}

#logo {
  display: block;
  height: 90%;
  margin: auto;

}
