body {
  color: #ffaf70;
  background: #141414;
  font-family: "Open Sans";
  font-size: 1em;
}

h1 {
  font-family: "Rock Salt";

}

header {
  height: 25vmin;
}

main {
  padding: 2vmin;
}

footer {
  max-height: 8vmin;
  min-height: 5vmax;
  color: #141414;
  background-color: #ffaf70;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#logo {
  display: block;
  height: 90%;
  margin: auto;
}

#about-us {
  display: block;
  height: 90%;
  position: absolute;
    top: 5%;
    bottom: 5%;
    right: 2%;
}
