body {
  color: #ffaf70;
  background: #141414;
  font-family: "Open Sans";
  font-size: 1em;
}

h1 {
  font-family: "Rock Salt";
}


a:link {
  color: #ff7f50
  }

a:visited {

  }
a:hover {

}
a:active {

}
