header {
  height: 25vmin;
}

main {
  padding: 2vmin;
}

footer {
  max-height: 8vmin;
  min-height: 5vmax;
  color: #141414;
  background-color: #ffaf70;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
  color: #141414;
}

.profile-pic-container {
  /*border-radius: 100%;*/
  width: 80vw;
  height: 80vw;
  margin: auto;
  background-color: white;
  overflow: hidden;

}

.profile-pic {
  max-height: 100%;
}

#logo {
  display: block;
  height: 90%;
  margin: auto;
}

#about-us-link {
  display: block;
  height: 90%;
  position: absolute;
    top: 5%;
    bottom: 5%;
    right: 2%;
}

#about-us-view {

}

#recipe {

}

footer aside {
  float: left;
  font-size: 2vw;
  padding: 1.5em 0em 0em 1em;
}
