header {
  height: 25vmin;
}

main {
  padding: 2vmin;
}

footer {
  max-height: 8vmin;
  min-height: 5vmax;
  padding: 1vw;
  color: #141414;
  background-color: #ffaf70;
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
  color: #141414;
}

.profile-pic-container {
  /*border-radius: 100%;*/
  width: 80vw;
  height: 80vw;
  margin: auto;
  background-color: white;
  overflow: hidden;

}

.profile-pic {
  width: 100%;
  height: auto;
}

#logo {
  display: block;
  height: 90%;
  margin: auto;
}

#about-us-link {
  display: block;
  height: 90%;
  position: absolute;
    top: 5%;
    bottom: 5%;
    right: 2%;
}

#about-us-view {
  margin-bottom: 10vw;
}

#recipe {
  margin: 5vw;
}

#keyword-prompt #health-and-diet #health-and-diet-prompt #returning-visit-greet #first-visit-greet{
  margin-bottom: 10vw;
}

.attributions {
  float: left;
  font-size: 2vw;
  paddding: 0;
}
