.rfloat {
  float: right
}

.lfloat {
  float: left
}

.block-whole {
  display: block;
}

.block-partial {
  display: inline-block;
}

@media only screen and (min-width: 768px) {

  .profile-pic-container {
    display: inline-block;
    width: 20vmax;
    height: 20vmax;
  }

  .attributions {
    float: left;
    font-size: 1.5vw;
    padding: 0;
  }

  footer {
    max-height: 3vmin;
    min-height: 2vmax;
    padding-bottom: 1vmax;
  }

  .about-text {
    text-align: center;
    margin: auto;
  }

}

@media only screen and (min-width: 960px) {
  footer {
    max-height: 2vmin;
    min-height: 1.5vmax;
    padding-bottom: 2vmax;
  }

  .attributions {
    float: left;
    font-size: 1vw;
    padding: 0;
  }

  .about-text, .profile-pic-container {
    display: inline-block;
    padding-top: 1em;
  }

  .about-text {
    text-align: center;
    margin: auto;
    vertical-align: middle;
  }

}
