/*Between 768px & 959px wide*/
@media only screen and (min-width: 768px) {

  .profile-pic-container {
    display: inline-block;
    width: 20vmax;
    height: 20vmax;
  }

  .attributions {
    float: left;
    font-size: 1.5vw;
    padding: 0;
  }

  .pull-left {
    float: left;
    text-align: left;
  }

  .pull-right {
    float: right;
    text-align: right;
  }

  footer {
    max-height: 3vmin;
    min-height: 2vmax;
    padding-bottom: 1vmax;
  }
}

/*Bigger than 959px wide*/
@media only screen and (min-width: 960px) {
  footer {
    max-height: 2vmin;
    min-height: 1.5vmax;
    padding-bottom: 2vmax;
  }

  .attributions {
    float: left;
    font-size: 1vw;
    padding: 0;
  }

  .pull-left {
    float: left;
    text-align: left;
  }

  .pull-right {
    float: right;
    text-align: right;
  }

  .about-text {
    width: calc(100vw - 25vmax);
    height: 20vmax;
    display: table;
  }

  .about-text p {
    display: table-cell;
    vertical-align: middle;
  }
}
